DATABASE_URL=""
DIRECT_URL=""

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_BOT_TOKEN=""
DISCORD_WEBHOOK_URL=""

DISCORD_ROLE_ADMIN=""
DISCORD_ROLE_PJ_KELAS=""
DISCORD_ROLE_PJ_MATKUL=""
DISCORD_ROLE_INFORMATIKA=""
DISCORD_ROLE_SAINS_DATA=""
DISCORD_ROLE_KELAS_A=""
DISCORD_ROLE_KELAS_B=""
DISCORD_ROLE_KELAS_C=""
DISCORD_ROLE_KELAS_D=""
DISCORD_ROLE_KELAS_E=""
